@tailwind base;

@tailwind components;

@tailwind utilities;

html, body{
  @apply m-0 p-0;
}

/* nav a {
  @apply text-blue-400 px-10 h-full dark:text-white hover:bg-slate-100 dark:hover:bg-slate-900 transition ease-in-out duration-300 flex items-center xs:px-2 xs:h-6 xs:py-8 xs:w-1/4;
} */


.title {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 32ch;

  animation: typing 3s steps(32), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}


article section a {
  @apply dark:text-white hover:underline before:content-['-'] w-full;
}

section img{
  @apply w-[100%] h-auto object-cover;
}

.contact img{
  @apply hover:cursor-pointer my-2 hover:scale-150 transition-all w-8 h-8 object-cover duration-300;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.images{
  display: grid;
  grid-template-columns: repeat( auto-fit ,minmax(50px,1fr));
  gap: 5px;
  width: 70vw;
  max-width: 750px;
}
/* 
nav{
  @apply duration-[400ms] transition-all ease-in-out;
} */


#menu:checked ~ nav{
  @apply right-0 duration-[400ms];
}

#menu:checked ~ label{
  @apply rotate-90;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  @apply dark:bg-[#797979]; 
  @apply bg-slate-200;
  border-radius: 20px;
}

/* body::-webkit-scrollbar-track {
  border-radius: 60px;  
} */

