@tailwind base;

@tailwind components;

@tailwind utilities;

html, body{
  @apply m-0 p-0;
}

nav a {
  @apply text-blue-400 px-10 h-full dark:text-white hover:bg-slate-100 dark:hover:bg-slate-900 transition ease-in-out duration-100 flex items-center xs:px-2 xs:h-6 xs:py-8 xs:w-28;
}


.title {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 32ch;

  animation: typing 3s steps(32), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}


article section a {
  @apply dark:text-white hover:underline before:content-['-'];
}

section img{
  @apply w-24 h-24 object-cover;
}

.contact img{
  @apply hover:cursor-pointer my-2 hover:scale-125 transition-all w-8 h-8 object-cover;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}


#mobile:checked nav{
  @apply w-full h-full right-0;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

body::-webkit-scrollbar {
  -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
  width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
  display: none;
} 

body::-webkit-scrollbar:horizontal {
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;  
}
